* {
    margin: 0;
    border: 0;
    padding: 0;
}

.dimensions{
    background-color: #666666;
}

button {
    padding: 5px;
    border-radius: 3px;
    background-color: cornflowerblue;
}

.container {
    width: 450px;
    height: 450px;
    border: solid 1px black;
    display: flex;
}

.tile {
    border: 1px solid #000;
}

.tile:hover{
    background-color: blue;
}